.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#light {
  background-color:  hsl(0, 0%, 100%);
}
#dark {
background-color: hsl(230, 17%, 14%);
}

#light .card{
  background-color: hsl(227, 47%, 96%);
}
#dark .card{
  background-color: hsl(228, 28%, 20%);
}
#light .card:active{
  background-color: hsl(240, 3%, 79%);
}
#dark .card:active{
  background-color: hsl(230, 25%, 33%);
}



#light .num{
  color: hsl(228, 28%, 20%);
}
#dark .num{
  color: hsl(0, 0%, 100%);
}
#light .text{
  color: hsl(228, 12%, 44%);
}
#dark .text{
  color: hsl(228, 34%, 66%);
}
#light .headText{
  color: black;
}
#dark .headText{
  color: white;
}
#light .footer{
  color: hsl(228, 12%, 44%);
}
#dark .footer{
  color: hsl(228, 34%, 66%);
}

